---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
            <div class="news">
              <h2>Awards</h2>
              <div class="table-responsive">
                <table class="table table-sm table-borderless">
                  <tr>
                    <td>
                     <a href="https://challengefgia-accv22.github.io/challenges.html">Webly-supervised Fine-grained Image Classification<a>, <b><font color='red'>Champion</font></b>, ACCV 2022.
                      <a href="https://github.com/open-mmlab/mmclassification/tree/dev-1.x/projects/fgia_accv2022_1st">[Code-P1]</a><a href="https://github.com/open-mmlab/mmselfsup/tree/dev-1.x/projects/fgia_accv2022_1st">[Code-P2]</a><a href="../assets/certificates/accv_certificate.jpg">[Certificate]</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://dac-sdc-2021.groups.et.byu.net/doku.php?id=results" target="_blank" rel="noopener noreferrer">System Design Contest(SDC) </a>,<b><font color='red'>Champion</font></b>, DAC 2021
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://www.lvisdataset.org/challenge_2021" target="_blank" rel="noopener noreferrer">LVIS Challenge</a>,<b> 2nd Place</b>, ICCV 2021
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="https://eval.ai/web/challenges/challenge-page/800/overview" target="_blank" rel="noopener noreferrer">Workshop on Autonomous Driving(WAD) streaming detection challenge</a>,<b><font color='red'>Champion</font></b>, CVPR 2021
                    </td>
                  </tr>
               </table>
              </div>
            </div>
          {%- endif %}
          <div>
            <h2>Collaborators</h2>
            <ul>
            <p>
            <a target="_blank" href="https://xmhe.bitbucket.io/">何旭明(Xuming He)</a>,
            <a target="_blank" href="https://yanshipeng.com/">颜世鹏(Shipeng Yan)</a>,
            <a target="_blank" href="https://sites.google.com/view/yongfei-liu">刘永飞(Yongfei Liu)</a>,
            <a target="_blank" href="https://bobwan.w3spaces.com/">万博(Bo, Wan)</a>
            <!-- <a target="_blank" href="http://www.pengchao.org/">李荣颉(Rongjie, Li)</a> -->
            </p>
            </ul>
          </div>
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>

<!-- Friends, Widget -->


<!-- <div style="text-align: center; color:#A0A0A0">
<a href="https://www.easycounter.com/">
<img src="https://www.easycounter.com/counter.php?zengarden" border="0" alt="stats counter" />
</a>
visit
</div> -->

<!-- Earth at bottom -->
<script
type="text/javascript"
src="//rf.revolvermaps.com/0/0/6.js?i=59tayzj4srf&amp;m=8&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0"
async="async"
></script>